{% load staticfiles %}

<html>
    <body>
        <h1>Measurements</h1>
        <!--<ul>
            {% for m in measurements %}
            <li>{{ m.timestamp }} {{ m.value }}</li>
            {% endfor %}
        </ul>-->

        <h2>Measurements in function of time</h2>
        <canvas id="myChart"></canvas>

        <script src="{% static 'rest/Chart.js-master/Chart.js' %}"></script>

        <script>
            var xlabels = [];
            var ylabels = [];
            {% for measurement in measurements %}
                xlabels.push("{{ measurement.timestamp }}");
                ylabels.push("{{ measurement.value }}");
            {% endfor %}

            var data = {
                labels: xlabels,
                datasets: [
                    {
                        label: "My First dataset",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: ylabels
                    },
                ]
            };

            Chart.defaults.global.responsive = true;

            // Get the context of the canvas element we want to select
            var ctx = document.getElementById("myChart").getContext("2d");
            var myLineChart = new Chart(ctx).Line(data);
        </script>

    </body>
</html>