.table-striped {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

#myChart {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

body {
font: 13px sans-serif;
margin-bottom: 20px;
}

rect { fill: #fff; }

.axis { font-size: 1.5em; }

.chart {
        background-color: #F7F2C5;
        width: 960px;
        height: 500px;
}

.overlay {
  fill: #EEEEEE;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

tr.deleted {
    background-color: #575757;
}