#myChart {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

body {
    font: 13px sans-serif;
    margin-bottom: 20px;
}

rect { fill: #fff; }

.axis { font-size: 1.5em; }

.chart {
    background-color: #F7F2C5;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
}

.overlay {
  fill: #EEEEEE;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.button-form {
    float: right;
}

.modal-footer form {
    margin-left: 5px;
    margin-right: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.btn-archive, .btn-refresh {
    bottom: 15px;
    position: relative;
    top: 15px;
}

tr.not-confirmed{
    background: #EFEFEF;
}

#measurements {
    max-height:300px;

    overflow-y:auto;
    overflow-x:scroll;
}

.measurements {
    max-height:450px;
    overflow-y:scroll;
    overflow-x:scroll;
}

table.table{
    margin-bottom: 20px;
    max-width: none;
    width: 100%;
}

.measurements table thead tr{
    background: #FFF;
}

a.deactivated{
    color: #AAA;
}

.measurement-chart{
    height: 600px;
}