{% extends "data/template.html" %}

{% block title %}Create New Installation{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Add installation</li>{% endblock %}

{% block content %}
<h1>Create New Installation for {{ name }}</h1>

<form action="/rest/installations/" method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name"/>

    <input type="hidden" name="company" value="{{ company_id}}"/>
    <input type="submit" value="Save">
</form>

<!--<script src="https://raw.githubusercontent.com/tomchristie/ajax-form/master/ajax-form.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>-->
{% endblock %}
