{% extends "data/template.html" %}

{% block title %}New Company{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Add company</li>{% endblock %}

{% block content %}
<h1>Create a new Company</h1>

<form action="/rest/companies/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="company-name">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name" id="company-name"/>
    </div>

    <input type="hidden" name="active" value="true" />
    <input type="submit" value="Submit" class="btn btn-default"/>
</form>
{% endblock %}
