{% extends "data/template.html" %}

{% block title %}Installations{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Company {{ company_id }}</li>{% endblock %}

{% block content %}
<h1>{{ name }}</h1>
{% if not active %}
    <p>[Deactivated]</p>
{% endif %}

<a href="{% url 'company-new-installation' company_id %}">Add Installation</a>

{% if active %}
<a href="{% url 'company-deactivate' company_id %}">Deactivate</a>
{% else %}
<a href="{% url 'company-activate' company_id %}">Activate</a>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Installation_ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for installation in installations %}
                <tr>
                    <td>{{ installation.installation_id }}</td>
                    <td><a href="{% url 'installation-detail' installation.installation_id %}">{{ installation.name }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        No installations added yet.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<h1>Alerts <span class="badge">{{ alerts|length }}</span></h1>
<div class="row">
    <div class="col-md-10">
        {% for alert in alerts %}
        <div class="alert alert-danger" role="alert">
            {{ alert.text }} {{ alert.url }}
        </div>
        {% empty %}
        <p>No alerts. Everything is OK!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
