{% extends "data/template.html" %}

{% block title %}Create New Installation{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Add Installation</li>{% endblock %}

{% block content %}
<h1>Create New Installation for {{ name }}</h1>

<form action="/rest/installations/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="installation-name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" id="installation-name"/>
    </div>
    <input type="hidden" name="company" value="{{ company_id }}"/>
    <input type="submit" value="Save" class="btn btn-default">
</form>
{% endblock %}
