{% extends "data/template.html" %}

{% block title %}Installations{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">{{ data.name }}</li>{% endblock %}

{% block content %}

<h1>{{ data.name }}</h1>
{% if not data.active %}
    <p>[Deactivated]</p>
{% endif %}

<a href="{% url 'company-new-installation' data.company_id %}">
    <span class="glyphicon glyphicon-plus"></span> Add Installation
</a>

{% if data.active %}
<a href="{% url 'company-deactivate' data.company_id %}">
    <span class="glyphicon glyphicon glyphicon-off"></span> Deactivate
</a>
{% else %}
<a href="{% url 'company-activate' data.company_id %}">
    <span class="glyphicon glyphicon glyphicon-off"></span> Activate
</a>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Installation ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for installation in data.installations %}
                <tr>
                    <td>{{ installation.installation_id }}</td>
                    <td><a href="{% url 'installation-detail' installation.installation_id %}">{{ installation.name }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        No installations added yet.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<h1>Alerts <span class="badge">{{ data.active_alerts|length }}</span></h1>
<div class="row">
    <div class="col-md-10">
        {% for alert in data.active_alerts %}
        <div class="alert alert-danger" role="alert">
            {{ alert.text }} {{ alert.url }}
        </div>
        {% empty %}
        <p>No alerts. Everything is OK!</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
