{% extends "data/template.html" %}

{% block title %}Gateways{% endblock %}

{% block content %}
<h1>Create New Installation for Company {{ company_id}}</h1>

<form action="/rest/installations/" method="POST">
    {% csrf_token %}
    <input type="text" name="ip_address" placeholder="IP"/>
    <input type="hidden" name="company" value="{{ company_id}}"/>
    <input type="submit" value="Save">
</form>

<script src="https://raw.githubusercontent.com/tomchristie/ajax-form/master/ajax-form.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
{% endblock %}
