{% extends "data/template.html" %}

{% block title %}Installations{% endblock %}

{% block content %}
<h1>{{ name }}</h1>
{% if not active %}
    <p>[Deactivated]</p>
{% endif %}

<a href="{% url 'company-new-installation' company_id %}">Add Installation</a>

{% if active %}
<a href="{% url 'company-deactivate' company_id %}">Deactivate</a>
{% else %}
<a href="{% url 'company-activate' company_id %}">Activate</a>
{% endif %}

<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Installation_ID</th>
                <th>Name</th>
                <th>Storage_On_Remote</th>
                <th>Remote_Database_ID</th>
            </tr>
        </thead>
        <tbody>
            {% for installation in installations %}
                <tr>
                    <td>{{ installation }}</td>
                    <td><a href="{% url 'installation-detail' installation %}">{{ installation.name }}</a></td>
                    <td>{{ installation.storage_is_on_remote }}</td>
                    <td>{{ installation.remote_database_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
