{% extends "data/template.html" %}

{% block title %}Companies{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-2">
        <h1>
             <span class="glyphicon glyphicon-bell"></span> Alerts
        </h1>
    </div>

    <div class="col-md-5">
        <a class="btn btn-primary btn-refresh" href="{% url 'data:alerts' %}">Refresh</a>
        <a class="btn btn-primary btn-refresh" href="{% url 'measurementtype-list' %}">Set boundaries</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {% for c in data.results %}
            {% if c.active_alerts %}
                <h2>{{ c.name }}<span class="badge">{{ c.active_alerts|length }}</span></h2>
            {% endif %}
            {% for alert in c.active_alerts %}
                    <div class="alert alert-danger" role="alert">
                        <a href="{% url 'alert-detail' alert.id %}">{{ alert.text }}</a>
                    </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <h1>Companies</h1>
        <a href="{% url 'company-new' %}" class="btn btn-xs">
            <span class="glyphicon glyphicon-plus"></span> Add Company
        </a>
    </div>
</div>


<div id="company-list">
     <div class="row">
        <div class="col-md-6">
            <form>
                <input type="text" class="fuzzy-search form-control" placeholder="Search on company name" />
            </form>
        </div>
     </div>
     <div class="row">
         <div class="col-md-6">
             <ul class="list list-group">
                {% for c in data.results %}

                    <li
                            {% if c.active_alerts|length == 0 %}
                                class="list-group-item"
                            {% else %}
                                class="list-group-item list-group-item-danger"
                            {% endif %}
                    >
                        {% if not c.active %}
                        <a class="deactivated" href="{% url 'company-detail' c.company_id %}">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        {% else %}
                        <a href="{% url 'company-detail' c.company_id %}">
                             <span class="glyphicon glyphicon-briefcase"></span>
                        {% endif %}

                            {{ c.name }}
                        </a>

                        {% if c.active_alerts %}
                            <span class="badge">{{ c.active_alerts|length }}</span>
                        {% endif %}

                        <span hidden="hidden" class="name">
                            {{ c.name}}
                        </span>
                    </li>
                {% endfor %}
             </ul>
         </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var companyList = new List('company-list', {
            valueNames: ['name'],
            plugins: [ ListFuzzySearch() ]
        });
    </script>
{% endblock %}