{% extends "data/template.html" %}

{% block title %}Companies{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}{% endblock %}

{% block content %}
<h1>Alerts</h1>
<div class="row">
    <div class="col-md-10">
        <!-- TODO: Only Show Companies with Alerts.-->
        {% for c in results %}
            <h2>{{ c.name }}<span class="badge">{{ c.alerts|length }}</span></h2>
            {% for alert in c.alerts %}
            <div class="alert alert-danger" role="alert">
                <a href="{% url 'sensor-alert' alert.gateway alert.sensor %}">{{ alert.text }}</a>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>

<h1>Companies</h1>
<div class="row">
    <div class="col-md-6">
        <a href="{% url 'company-new' %}">Add Company</a>
        <div id="company-list">
            <input type="text" class="fuzzy-search" placeholder="Search company name" />
            <ul class="list">
                {% for c in results %}
                <li>
                    <a class="name" href="{% url 'company-detail' c.company_id %}">{{ c.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
        var companyList = new List('company-list', {
            valueNames: ['name'],
            plugins: [ ListFuzzySearch() ]
        });
    </script>
{% endblock %}