{% extends "data/template.html" %}

{% block title %}New Company Added{% endblock %}

{% load data_extras %}

{% block headextra %}
    {% url 'company-detail' data.company_id as redirect_url %}
    {% refresh redirect_url %}
{% endblock %}

{% block content %}
<div class="alert alert-success" role="alert">
    <p>
        Company added. Redirecting to company page.
    </p>

    <p>
        <a href="{% url 'company-detail' data.company_id %}">Go to company page.</a>
    </p>
</div>
{% endblock %}
