{% extends "data/template.html" %}

{% block title %}Create New Configuration{% endblock %}

{% block bread_1 %}
    <li>
        <a href="{% url 'gateway-detail' data.gateway_id %}">Gateway</a>
    </li>
{% endblock %}

{% block bread_active %}<li class="active">Add configuration</li>{% endblock %}

{% block content %}
<h1>Create New config for Gateway {{ data.gateway_id }}</h1>

<form action="/rest/gateways/{{ data.gateway_id }}/config/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="gateway" value="{{ data.gateway_id }}"/>

    <div class="form-group">
        <label for="attribute">Attribute</label>
        <input type="text" class="form-control" name="attribute" id="attribute" placeholder="Attribute"/>
    </div>

    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" class="form-control" name="value" id="value" placeholder="Value"/>
    </div>

    <input type="hidden" name="confirmed" value="false">
    <input type="submit" class="btn btn-default" value="Save">
</form>
{% endblock %}
