{% extends "data/template.html" %}

{% block title %}Add Gateway{% endblock %}

{% block bread_1 %}<li><a href="{% url 'installation-add-gateway' data.installation %}">Add gateway</a></li>{% endblock %}
{% block bread_active %}<li class="active">Gateway added</li>{% endblock %}

{% block content %}
<h1>Gateway {{ gateway_id }}</h1>

<div class="row">
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <p>New gateway created</p>
            <p>Would you like to add a configuration?</p>
            <a href="{% url 'gateway-detail' data.gateway_id %}">Skip</a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                API Key: {{ data.api_key }}
            </div>
        </div>
    </div>
</div>

<h2>Use a Template</h2>
<form action="/rest/gateways/{{ data.gateway_id}}/use_template/" method="GET">
    <select name="template_id">
        {% for template in data.templates %}
            <option value="{{ template.template_id }}">{{ template.name }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Save" class="btn btn-default">
</form>


<!--<h2>Manual Entry</h2>-->

<!--<form action="/rest/gateways/{{ gateway_id }}/config/" method="POST">-->
    <!--{% csrf_token %}-->

    <!--&lt;!&ndash; TODO Custom Parser &ndash;&gt;-->

    <!--<div class="row">-->
        <!--<input type="text" name="key" placeholder="Key"/>-->
        <!--<input type="text" name="value" placeholder="Value"/>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<input type="text" name="key" placeholder="Key"/>-->
        <!--<input type="text" name="value" placeholder="Value"/>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<input type="text" name="key" placeholder="Key"/>-->
        <!--<input type="text" name="value" placeholder="Value"/>-->
    <!--</div>-->
    <!--&lt;!&ndash;<label for="n_sensors">Number of Sensors</label>-->
    <!--<input type="number" name="n_sensors" placeholder="Number of Sensors"/>&ndash;&gt;-->

    <!--<input type="hidden" name="gateway" value="{{ gateway_id}}"/>-->
    <!--<input type="submit" value="Save">-->
<!--</form>-->
{% endblock %}
