{% extends "data/template.html" %}

{% block title %}Create New GatewayConfiguration{% endblock %}

{% block bread_1 %}<li><a href="{% url 'gateway-detail' gateway_id %}">Gateway {{ gateway_id }}</a></li>{% endblock %}
{% block bread_active %}<li class="active">Add configuration</li>{% endblock %}

{% block content %}
<h1>Create New config for Gateway {{ gateway_id }}</h1>

<form action="/rest/gateways/{{ gateway_id }}/config/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="gateway" value="{{ gateway_id }}"/>
    <input type="text" name="attribute" placeholder="IP-address"/>
    <input type="text" name="value" placeholder="192.168.1.2"/>
    <input name="confirmed" value="false" type="hidden">
    <input name="deleted" value="false" type="hidden">
    <input type="submit" value="Save">
</form>
{% endblock %}
