{% extends "data/template.html" %}

{% block title %}Edit gateway{% endblock %}

{% block bread_1 %}<li><a href="{% url 'gateway-detail' data.gateway %}">Gateway {{ data.gateway }}</a></li>{% endblock %}
{% block bread_active %}<li class="active">Edit configuration</li>{% endblock %}

{% block content %}
<h1>Update this gateway</h1>
<form action="/rest/gateways/{{ data.gateway }}/config/{{ data.id }}/" role="form" method="PUT">
    {% csrf_token %}

    <input type="hidden" name="gateway" value="{{ data.gateway }}">
    <input type="hidden" name="confirmed" value="{{ data.confirmed }}">

    <div class="form-group">
        <label for="attribute">Attribute</label>
        <input name="attribute" class="form-control" type="text" value="{{ data.attribute }}">
    </div>
    <div class="form-group">
        <label for="value">Value</label>
        <input name="value" class="form-control" type="text" value="{{ data.value }}">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}