{% extends "data/template.html" %}

{% block title %}Sensors{% endblock %}

{% block content %}
<h1 style="margin-top: 50px;">Gateway {{ gateway_id }}</h1>

<style>
    #measurements {
        max-height:300px;
        overflow-y:auto;
        overflow-x:scroll;
    }


</style>


<div class="row">
    <div class="col-md-6">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#type-tab1" data-toggle="tab">Capacitance</a></li>
                <li><a href="#type-tab2" data-toggle="tab">Temperature</a></li>
                <li><a href="#type-tab3" data-toggle="tab">Humidity</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="type-tab1">
                    <p>Capacitance measurements</p>
                </div>
                <div class="tab-pane" id="type-tab2">
                    <p>Temperature measurements</p>
                </div>
                <div class="tab-pane" id="type-tab3">
                    <p>Humidity measurements</p>
                </div>
            </div>
        </div>
        <!-- Measurements Table -->
        <div class="row" id="measurements">
        </div>

       <!-- <div class="table-responsive">
            <table class="table-striped">
                <thead>
                    <tr>
                        {% for sensor in sensors %}
                            <th>Sensor {{ sensor.sensor_id }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        &lt;!&ndash; Fetch measurement data via AJAX request.&ndash;&gt;
                    {% for sensor in sensors %}
                            <td>1.64578</td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>-->
    </div>

    <div class="col-md-6">
        <!-- Meta data -->
        <div>
            <!-- API Key -->
        </div>

        <div>
            <!-- Map -->
        </div>

        <div>
            <!-- Config -->
            <h2>Configuration</h2>
            <button>Edit</button>
            <div class="table-responsive">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conf in config %}
                        <tr>
                            <td>{{ conf.attribute }}</td>
                            <td>{{ conf.value }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Sensors</h2>

        <!-- Tab for each sensor -->
        <div class="tabbable tabs-left">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills nav-stacked">
                        {% for sensor in sensors %}
                            <li><a href="#sensor-tab{{ sensor.sensor_id }}" data-toggle="tab">Sensor {{ sensor.sensor_id }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                         <div class="tabbable">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#type-tab4" data-toggle="tab">Capacitance</a></li>
                                        <li><a href="#type-tab5" data-toggle="tab">Temperature</a></li>
                                        <li><a href="#type-tab6" data-toggle="tab">Humidity</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="type-tab4">
                                            <p>Capacitance measurements</p>
                                        </div>
                                        <div class="tab-pane" id="type-tab5">
                                            <p>Temperature measurements</p>
                                        </div>
                                        <div class="tab-pane" id="type-tab6">
                                            <p>Humidity measurements</p>
                                        </div>
                                    </div>
                                </div>
                        {% for sensor in sensors %}
                            <div class="tab-pane" id="sensor-tab{{ sensor.sensor_id }}">
                               <h3>Here come the measurements for Sensor {{ sensor.sensor_id }}</h3>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>

        <!-- Detailed view of selected sensor -->
        <div>


        </div>
    </div>
</div>


<script>
    base_url = "/rest/gateways/{{ gateway_id }}/sensors/"
    sensors = [
    {% for sensor in sensors %}
        "{{ sensor.sensor_id }}",
    {% endfor %}
    ];

    sensors.forEach(function(s) {
        console.log(s);
        $.getJSON(base_url + s + "/measurements.json?type=0&start=2016-03-04", function(data) {
            sensor_id = 1;
            var items = [];
            $.each( data.measurements, function(index, value) {
                console.log(value[1])
                items.push( "<li>" + value[1] + "</li>" );
            });

            $("#measurements").append(
                        $("<div/>", { class : "col-md-2"}).append(
                                                                $("<p/>", {
                                                                    text : "Sensor " + s
                                                                    }))
                                                          .append(
                                                                $("<ul/>").append(
                                                                        items.join("")
                                                                )
                                                          )
            );
        });
    });
</script>
{% endblock %}
