{% extends "data/template.html" %}

{% load staticfiles %}

{% block title %}Sensors{% endblock %}

{% block bread_1 %}<li><a href="{% url 'gateway-list' %}">Gateways</a></li>{% endblock %}
{% block bread_active %}<li class="active">Gateway {{ gateway_id }}</li>{% endblock %}

{% block content %}
<h1>Gateway {{ gateway_id }}</h1>

<div class="row">
    <div class="col-md-8">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="measurementDataTabs">
                {% for t in measurement_types %}
                    <li>
                        <a href="#type-tab{{ t.measurementTypeID }}" data-toggle="tab" data-measurement-type="{{ t.measurementTypeID }}">{{ t.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for t in measurement_types %}
                    <div class="tab-pane" id="type-tab{{ t.measurementTypeID }}">
                        <div class="measurements" id="measurements-type-{{ t.measurementTypeID }}">
                            <table class="table table-striped">
                                <!-- Table filled with data from AJAX request. -->
                                <thead></thead>
                                <tbody></tbody>
                            </table>

                            <button onclick="loadNextMeasurements({{ t.measurementTypeID }});"
                                    data-measurement-type="{{ t.measurementTypeID }}"
                                    class="btn btn-link">
                                Load More <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <!-- Meta data -->
        <div class="panel panel-default">
            <div class="panel-body">
                API Key: {{ api_key }}
            </div>
        </div>

        <div>
            <!-- Map -->
            <div id="googleMap" style="width:100%;height:380px;">
                {% if sensors|length == 0 %}
                    <p>Location unknown.</p>
                {% endif %}
            </div>
        </div>

        <div>
            <!-- Config -->
            <h2>Configuration</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for conf in config %}
                            {% if not conf.confirmed %}
                            <tr class="not-confirmed">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td>{{ conf.attribute }}
                                    {% if conf.confirmed %}
                                    <span class="glyphicon glyphicon-check"></span>
                                    {% else %}
                                    <span class="glyphicon glyphicon-hourglass"></span>
                                    {% endif %}
                                </td>
                                <td>{{ conf.value }}</td>
                                <td>
                                    <a class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"
                                        href="{% url 'gatewayconfiguration-edit' gateway_id conf.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </td>
                                <td>
                                    <form action="/rest/gateways/{{ gateway_id }}/config/{{ conf.id }}/" data-method="DELETE">
                                          <button class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" title="Delete">
                                              <span class="glyphicon glyphicon-trash"></span>
                                          </button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{% url 'gateway-new-config' gateway_id %}">
                <span class="glyphicon glyphicon-plus"></span> Add Configuration
            </a>
        </div>
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <h2>Sensors</h2>
    </div>
</div>

<!-- Tab for each sensor -->
<div class="tabbable tabs-left">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                {% for sensor in sensors %}
                    <li><a href="#sensor-tab{{ sensor.sensor_id }}" data-toggle="tab">{{ sensor.tag }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-10">
            <div class="tab-content">
                {% for sensor in sensors %}
                    <div class="tab-pane" id="sensor-tab{{ sensor.sensor_id }}">
                        <div class="row">
                            <h2>Measurements</h2>
                            <div class="tabbable">
                                <ul class="nav nav-tabs graphDataTabs">
                                    {% for t in measurement_types %}
                                        <li>
                                            <a href="#type-tab{{ t.measurementTypeID }}-{{ sensor.sensor_id }}"
                                                data-toggle="tab" data-measurement-type-name="{{ t.name }}"
                                                data-measurement-type="{{ t.measurementTypeID }}"
                                                data-sensor="{{ sensor.sensor_id }}">{{ t.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for t in measurement_types %}
                                        <div class="tab-pane" id="type-tab{{ t.measurementTypeID }}-{{ sensor.sensor_id }}">
                                            <!--<div class="chart" id="measurement_chart-{{ t.measurementTypeID }}-{{ sensor.sensor_id }}"></div>
                                            <div class="chart" id="measurement_chart-{{ t.measurementTypeID }}-{{ sensor.sensor_id }}-overview"></div>-->
                                            <div>
                                                <div id="chart-sensor-{{ sensor.sensor_id}}-type-{{t.measurementTypeID}}" class='with-3d-shadow with-transitions measurement-chart'>
                                                    <svg></svg>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <!-- Detailed view of selected sensor -->
                            <h2>Configuration</h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Attribute</th>
                                            <th>Value</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for conf in sensor.config %}
                                            <tr>
                                                <td>{{ conf.attribute }}</td>
                                                <td>{{ conf.value }}</td>
                                                <td>
                                                    <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                        <a class="btn btn-primary btn-xs" data-title="Edit" href="{% url 'sensorconfiguration-edit' gateway_id sensor.sensor_id conf.id %}">
                                                            <span class="glyphicon glyphicon-pencil"></span>
                                                        </a>
                                                    </p>
                                                </td>
                                                <td>
                                                    <form action="/rest/gateways/{{ gateway_id }}/sensors/{{ sensor.sensor_id }}/config/{{ conf.id }}/" data-method="DELETE">
                                                        <button class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" title="Delete">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a href="{% url 'sensor-new-config' gateway_id sensor.sensor_id %}">
                                <span class="glyphicon glyphicon-plus"></span> Add Configuration
                            </a>
                        </div>

                        <div class="row">
                            <h2>Location</h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Longitude</th>
                                            <th>Latitude</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ sensor.position_long }}</td>
                                        <td>{{ sensor.position_lat }}</td>
                                        <td>
                                            <p data-placement="top" data-toggle="tooltip" title="Edit">
                                                <a class="btn btn-primary btn-xs" data-title="Edit" href="{% url 'sensor-edit' gateway_id sensor.sensor_id %}">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'data/libs/nv.d3.min.js'%}"></script>
<script src="{% static 'data/libs/moment.js' %}"></script>

<script>
    table_base_url = "/rest/gateways/{{ gateway_id }}/measurements";

    // Define range for the measurements retrieved for table.
    var start = moment().subtract(20, 'days');
    var end = moment();

    var gateway_position = {
         lat: {{ sensors.0.position_lat}},
         lng: {{ sensors.0.position_long}}
    };
</script>
<script src="{% static 'data/gateway.js' %}"></script>

<script src="{% static 'data/nvd3_custom_lineChart.js' %}"></script>
<script src="{% static 'data/chart.js' %}"></script>

<script src="{% static 'data/main.js' %}"></script>
{% endblock %}