{% extends "data/template.html" %}

{% block title %}Add Gateway{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Add gateway</li>{% endblock %}

{% block content %}

<h1>Add Gateway to {{ name }}</h1>

<!-- TODO Templates / Duplicate or Copy -->

<form action="/rest/gateways/" method="POST">
    {% csrf_token %}

    <input type="text" name="api_key" placeholder="API"/>

    <!--<label for="n_sensors">Number of Sensors</label>
    <input type="number" name="n_sensors" placeholder="Number of Sensors"/>-->

    <input type="hidden" name="installation" value="{{ installation_id}}"/>
    <input type="submit" value="Save">
</form>
{% endblock %}