{% extends "data/template.html" %}

{% block title %}Add Gateway{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Add gateway</li>{% endblock %}

{% block content %}

<h1>Add Gateway to {{ data.name }}</h1>

<form action="/rest/gateways/" method="POST">
    {% csrf_token %}

    <!-- TODO API KEY Format Checking-->
    <!--<div class="form-group">
        <label for="api_key">API-Key</label>
        <input class="form-control" type="text" name="api_key" id="api_key" placeholder="API"/>
    </div>-->

    <input type="hidden" name="installation" value="{{ data.installation_id}}"/>
    <input type="submit" value="Save" class="btn btn-default">
</form>
{% endblock %}