{% extends "data/template.html" %}

{% block title %}Gateways{% endblock %}

{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">Installations</li>{% endblock %}

{% block content %}
<h1>{{ installation.name }}</h1>
<ul>
{% for installation in results %}
    <li>
        <a href="{% url 'installation-detail' installation.installation_id %}">{{ installation.name }}</a>
    </li>
{% endfor %}
</ul>

<script src="https://raw.githubusercontent.com/tomchristie/ajax-form/master/ajax-form.js" type="text/javascript"></script>
<script>
$(document).ready(function() {
    $('form').ajaxForm();
});
</script>
{% endblock %}
