{% extends "data/template.html" %}

{% block title %}Installation{% endblock %}

{% block bread_1 %}<li><a href="{% url 'company-detail' data.company.company_id %}">{{ data.company.name }}</a></li>{% endblock %}
{% block bread_active %}<li class="active">{{ data.name }}</li>{% endblock %}

{% block content %}
<h1>{{ data.name }}</h1>

{% if not data.active %}
     <p>[Deactivated]</p>
{% endif %}

<a href="{% url 'installation-add-gateway' data.installation_id %}">
     <span class="glyphicon glyphicon-plus"></span> Add Gateway
</a>

{% if data.active %}
<a href="{% url 'installation-deactivate' data.installation_id %}">
    <span class="glyphicon glyphicon-off"></span> Deactivate
</a>
{% else %}
<a href="{% url 'installation-activate' data.installation_id %}">
    <span class="glyphicon glyphicon-off"></span> Activate
</a>
{% endif %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gateway ID</th>
                <th>API-key</th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in data.gateways.all %}
                <tr>
                    <td><a href="{% url 'gateway-detail' gateway.gateway_id %}">{{ gateway.gateway_id }}</a></td>
                    <td>{{ gateway.api_key }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>
                        No gateways added yet.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
