{% extends "data/template.html" %}

{% block title %}Installation{% endblock %}

{% block bread_1 %}<li><a href="{% url 'installation-list' %}">Installations</a></li>{% endblock %}
{% block bread_active %}<li class="active">Installation {{ installation_id }}</li>{% endblock %}

{% block content %}
<h1>{{ name }} ({{ installation_id }})</h1>

<a href="{% url 'installation-add-gateway' installation_id %}">Add Gateway</a>

{% if active %}
<a href="{% url 'installation-deactivate' installation_id %}">Deactivate</a>
{% else %}
<a href="{% url 'installation-activate' installation_id %}">Activate</a>
{% endif %}

<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Gateway_ID</th>
                <th>API-key</th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in gateways %}
                <tr>
                    <td><a href="{% url 'gateway-detail' gateway %}">Gateway {{ gateway }}</a></td>
                    <td>AA32</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
