{% extends "data/template.html" %}

{% block title %}Installation{% endblock %}

{% block content %}
<h1>{{ name }} ({{ installation_id }})</h1>

<a href="{% url 'installation-add-gateway' installation_id %}">Add Gateway</a>

<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Gateway_ID</th>
                <th>API-key</th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in gateways %}
                <tr>
                    <td><a href="{% url 'gateway-detail' gateway %}">Gateway {{ gateway }}</a></td>
                    <td>AA32 </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<form action="/rest/gateways.html/" method="POST">
    {% csrf_token %}
    <input type="text" name="ip_address" placeholder="IP"/>
    <input type="hidden" name="installation" value="{{ installation_id}}"/>
    <input type="submit" value="Save">
</form>

<script src="https://raw.githubusercontent.com/tomchristie/ajax-form/master/ajax-form.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
{% endblock %}
