{% extends "data/template.html" %}

{% load staticfiles %}

{% block title %}Measurement Types{% endblock %}

{% block bread_1 %}<li><a href="{% url 'measurementtype-list' %}">Measurement types</a></li>{% endblock %}
{% block bread_active %}<li class="active">New</li>{% endblock %}

{% block content %}
<h1>{{ name }}</h1>

<form action="/rest/measurement-types/" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name"/>
    </div>

    <div class="form-group">
        <label>Scalar</label>
        <input type="number" class="form-control" name="scalar"/>
    </div>

    <div class="form-group">
        <label>Unit</label>
        <input type="text" class="form-control" name="unit"/>
    </div>

    <div class="form-group">
        <label>Upper bound</label>
        <input type="number" class="form-control" name="upper_bound"/>
    </div>

    <div class="form-group">
        <label>Lower bound</label>
        <input type="number" class="form-control" name="lower_bound"/>
    </div>

    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}