{% extends "data/template.html" %}

{% load staticfiles %}

{% block title %}Measurement Types{% endblock %}

{% block bread %}<li><a href="{% url 'measurementtype-list' %}">Measurement types</a></li>{% endblock %}
{% block bread_1 %}{% endblock %}
{% block bread_active %}<li class="active">{{ name }}</li>{% endblock %}

{% block page_2 %}<li class="active"><a href="{% url 'measurementtype-list' %}">Meassurement types</a></li>{% endblock %}

{% block content %}
<h1>{{ name }}</h1>

<form action="/rest/measurement-types/{{ measurementTypeID }}/" method="PUT">
    {% csrf_token %}

    <label>Name</label>
    <input type="text" name="name" value="{{ name }}"/>

    <br/>

    <label>Scalar</label>
    <input type="number" name="scalar" value="{{ scalar }}"/>

    <br/>

    <label>Unit</label>
    <input type="text" name="unit" value="{{ unit }}"/>

    <br/>

    <label>Upper bound</label>
    <input type="text" name="upper_bound" value="{{ upper_bound }}"/>

    <br/>
    <label>Lower bound</label>
    <input type="text" name="lower_bound" value="{{ lower_bound }}"/>

    <br/>

    <button type="submit" class="btn btn-default">Save</button>
</form>
{% endblock %}