{% extends "data/template.html" %}

{% block title %}Measurement Types{% endblock %}

{% block bread %}<li><a href="{% url 'measurementtype-list' %}">Measurement types</a></li>{% endblock %}
{% block bread_1 %}{% endblock %}
{% block bread_active %}{% endblock %}

{% block page_2 %}<li class="active"><a href="{% url 'measurementtype-list' %}">Meassurement types</a></li>{% endblock %}

{%block content%}
<h1>Measurement Types</h1>
<ul>
{% for mt in results %}
    <li>
        <a href="{% url 'measurementtype-detail' mt.measurementTypeID %}">{{ mt.name }}</a>
    </li>
{% endfor %}
</ul>

<a href="{% url 'measurementtype-new' %}">
    <span class="glyphicon glyphicon-plus"></span> Add Type
</a>
{% endblock %}