{% extends "data/template.html" %}

{% block title %}Create New SensorConfiguration{% endblock %}

{% block bread_1 %}
    <li>
        <a href="{% url 'gateway-detail' data.gateway.gateway_id %}">Gateway</a>
    </li>
    <li>{{ data.tag }}</li>
{% endblock %}
{% block bread_active %}
    <li class="active">Add configuration</li>
{% endblock %}

{% block content %}
<h1>Create New config for Sensor {{ data.sensor_id }}</h1>

<form action="/rest/gateways/{{ data.gateway.gateway_id }}/sensors/{{ data.sensor_id }}/config/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="sensor" value="{{ data.sensor_id }}"/>

    <div class="form-group">
        <label for="attribute">Attribute</label>
        <input type="text" class="form-control" name="attribute" id="attribute" placeholder="attribute"/>
    </div>

    <div class="form-group">
        <label for="value">Value</label>
        <input type="text" class="form-control" name="value" id="value" placeholder="value"/>
    </div>

    <input name="confirmed" value="false" type="hidden">
    <input type="submit" value="Save">
</form>
{% endblock %}
