{% for sensor in sensors %}
<div class="tab-pane" id="sensor-tab{{ sensor.sensor_id }}">
    <!-- Detailed view of selected sensor -->
    <div class="row">
        <h2>Measurements</h2>
        <div class="tabbable">
            <ul class="nav nav-tabs graphDataTabs">
                {% for t in measurement_types %}
                    <li>
                        <a href="#type-tab{{ t.measurementTypeID }}-{{ sensor.sensor_id }}"
                            data-toggle="tab" data-measurement-type-name="{{ t.name }}"
                            data-measurement-type="{{ t.measurementTypeID }}"
                            data-sensor="{{ sensor.sensor_id }}">{{ t.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for t in measurement_types %}
                    <div class="tab-pane" id="type-tab{{ t.measurementTypeID }}-{{ sensor.sensor_id }}">
                        <div id="chart-sensor-{{ sensor.sensor_id}}-type-{{t.measurementTypeID}}" class='with-3d-shadow with-transitions measurement-chart'>
                            <svg></svg>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Alerts</h2>
        {% for alert in sensor.alerts %}
            {% if not alert.archived %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                 <!--<button type="button" class="close" aria-label="Close">-->
                     <!--<span aria-hidden="true">&times;</span>-->
                 <!--</button>-->
                 <a type="button" class="close" class="btn btn-danger btn-archive" data-dismiss="alert" href="{% url 'alert-archive' alert.id %}">
                    <span class="glyphicon glyphicon-send"></span>
                    Archive
                </a>

                <p>
                    {{ alert.measurement.timestamp }} <br/>
                    [{{ alert.measurement.measurement_type.name }}] <br/>

                    {{ alert.measurement.value }}{{ alert.measurement.measurement_type.unit }}
                </p>
            </div>
            {% endif %}
        {% empty %}
            <p>Everything is OK!</p>
        {% endfor %}

        <a href="{% url 'sensor-detail' gateway_id sensor.sensor_id %}archive">See Archived Alerts</a>
    </div>

    <div class="row">
        <h2>Configuration</h2>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conf in sensor.config %}
                        <tr>
                            <td>{{ conf.attribute }}</td>
                            <td>{{ conf.value }}</td>
                            <td>
                                <p data-placement="top" data-toggle="tooltip" title="Edit">
                                    <a class="btn btn-primary btn-xs" data-title="Edit" href="{% url 'sensorconfiguration-edit' gateway_id sensor.sensor_id conf.id %}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                </p>
                            </td>
                            <td>
                                <form action="/rest/gateways/{{ gateway_id }}/sensors/{{ sensor.sensor_id }}/config/{{ conf.id }}/" data-method="DELETE">
                                    <button class="btn btn-danger btn-xs" data-placement="top" data-toggle="tooltip" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'sensor-new-config' gateway_id sensor.sensor_id %}">
            <span class="glyphicon glyphicon-plus"></span> Add Configuration
        </a>
    </div>

    <div class="row">
        <h2>Location</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ sensor.position_long }}</td>
                    <td>{{ sensor.position_lat }}</td>
                    <td>
                        <p data-placement="top" data-toggle="tooltip" title="Edit">
                            <a class="btn btn-primary btn-xs" data-title="Edit" href="{% url 'sensor-edit' gateway_id sensor.sensor_id %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}