{% extends "data/template.html" %}

{% block title %}Create New SensorConfiguration{% endblock %}

{% block content %}
<h1>Create New config for Sensor {{ sensor_id }}</h1>

<form action="/rest/gateways/{{ gateway }}/sensors/{{ sensor_id }}/config/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="sensor" value="{{ sensor_id }}"/>
    <input type="text" name="attribute" placeholder="IP-address"/>
    <input type="text" name="value" placeholder="192.168.1.2"/>
    <input name="confirmed" value="false" type="hidden">
    <input name="deleted" value="false" type="hidden">
    <input type="submit" value="Save">
</form>
{% endblock %}
