{% extends "data/template.html" %}

{% block title %}Sensor Configuration{% endblock %}

{% block content %}
<h1>Edit configuration</h1>
<form action="/rest/gateways/{{ gateway }}/sensors/{{ sensor }}/config/{{ id }}/" role="form" method="PUT">
    {% csrf_token %}
    <div class="form-group">
        <input type="hidden" name="sensor" value="{{ sensor }}"/>
    </div>
    <div class="form-group">
        <label for="attribute">Attribute:</label>
        <input name="attribute" id="attribute" class="form-control" type="text" value="{{ attribute }}">
    </div>
    <div class="form-group">
        <label for="value">Value:</label>
        <input name="value" id="value" class="form-control" type="text" value="{{ value }}">
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>

{% endblock %}