{% extends "data_analysis/template.html" %}

{% block title %}Installations{% endblock %}

{% block content %}
<h1 style="margin-top: 50px;">{{ company.name }}</h1>
<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Installation_ID</th>
                <th>Company_ID</th>
                <th>Name</th>
                <th>Storage_On_Remote</th>
                <th>Remote_Database_ID</th>
            </tr>
        </thead>
        <tbody>
            {% for installation in company.installations.all %}
                <tr>
                    <td>{{ installation.pk }}</td>
               
                    <td>{{ installation.company }}</td>
                
                    <td><a href="{{ installation.get_absolute_url }}">{{ installation.name }}</a></td>
               
                    <td>{{ installation.storage_is_on_remote }}</td>
               
                    <td>{{ installation.remote_database_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
