{% extends "data_analysis/template.html" %}

{% block title %}Gateways{% endblock %}

{% block content %}
<h1 style="margin-top: 50px;">{{ installation.name }}</h1>
<div class="table-responsive">
    <table class="table-striped">
        <thead>
            <tr>
                <th>Gateway_ID</th>
                <th>Installation_ID</th>
                <th>IP-address</th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in installation.gateway_set.all %}
                <tr>
                    <td><a href="{{ gateway.get_absolute_url }}">Gateway {{ gateway.pk }}</a></td>

                    <td>{{ gateway.installation }}</td>

                    <td>{{ gateway.ip_address }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
